<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pkteam.smartcalendar">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_sc"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_sc"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".view.SplashActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.MainActivity"/>
        <activity android:name=".view.AddItemActivity"/>
        <activity android:name=".view.AddItemActivityRepeat"/>
        <activity android:name=".view.AddItemActivityCategory"/>
        <activity android:name=".view.DataCheckActivity"/>
        <activity android:name=".view.SettingCategory"/>
        <activity android:name=".view.SettingSleepTime"/>
        <activity android:name=".view.ScheduleItemActivity"/>
        <activity android:name=".view.ScheduleItemProgressActivity"/>
        <activity android:name=".view.ScheduleItemResultActivity"/>
        <activity android:name=".view.SettingLogin"/>
        <activity android:name=".view.SettingSignUp"/>

    </application>

</manifest>